@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="~/Content/HomeStyleSheet.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/scripts/jquery-1.10.2.min.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>
    @RenderSection("morrisjs", false)
    @RenderSection("morriscss", false)
   
    <title>Project Manage</title>
</head>
<body>
    @Html.Partial("_CategoriesPartial")
    <!--Vùng body-->
    <div class="col-md-12" style="min-height: 1000px; text-align: center;">
        <div id="page-wrapper" style="padding-top: 20px; margin-top: 55px;">
            <div class="row">
                @RenderBody()
            </div>
        </div>
    </div>
    <!--Kết thúc vùng body-->
    <!--Vùng footer-->
    <footer class="col-md-12">
        <h5>Học viện kỹ thuật quân sự</h5>
        <p>Đồ án tốt nghiệp chuyên ngành công nghệ phần mềm khóa 12</p>
        <p>Sinh viên: Nguyễn Thị Hảo</p>
    </footer>
    <!--Kết thúc vùng footer-->

</body>
</html>
