
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/scripts/css/bootstrap.css" rel="stylesheet" />
    <link href="~/scripts/css/bootstrap.min.css" rel="stylesheet" />
    <title>Error 401</title>
</head>
<body>
    <center>
        <div class="container">
            <div class="row">
                    <br />
                    <span class="glyphicon glyphicon-warning-sign" style="font-size: 100px; color: red;"></span><br />
                    <h2>Opp! You do not have permission to access this page.</h2>
            </div>
        </div>
    </center>
</body>
</html>
