@using ProjectManage.Models;
@model List<Dashboard>
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    int i = 1;
}
<div class="col-lg-5">
    <h4 style="color: #357ebd">Wellcome to </h4>
    <h2 style="color: #357ebd">Project Manage System</h2>
</div>
<div class="col-lg-7" style="float: right;">
    <div class="panel panel-default">
        <table class="table table-striped table-bordered table-hover">
            <thead style="text-align: center;">
                <tr>
                    <th>No.</th>
                    <th>Project</th>
                    <th>Position</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var item in Model)
                    {
                        <tr class="gradeA odd" role="row">
                            <td class="sorting_1">
                                <a href="#">@(i++)</a>
                            </td>
                            <td class="sorting_1" style="min-width: 200px;">
                                <a href="/Project/DetailProject?idProject=@item.idProject">@item.projectName</a>
                            </td>
                            <td class="sorting_1">
                                <span>@item.position</span>
                            </td>
                            <td class="sorting_1">
                                <span>@item.status </span>
                            </td>
                            <td class="sorting_1">
                                <a href="/PositionUser/ViewDetail?idUser=@item.idUser&idProject=@item.idProject">View Detail</a>
                            </td>
                            <td class="sorting_1">
                                <a href="/Task/ListTask?idUser=@item.idUser&idProject=@item.idProject">List Task</a>
                            </td>
                            
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

