@using ProjectManage.Models
@model List<Dashboard>
<!--Vùng menu-->
<hr />
<!--Menu bên trái-->
<div class="col-md-7" style="background-color: #205081">
    <ul class="nav nav-pills">
        <li style="padding: 0px 20px;"><a href="../PositionUser/Dashboard?idUser=@ViewBag.idUser"><span class="glyphicon glyphicon-home"></span></a></li>

        <li class="dropdown" style="padding: 0px 5px;">
            <a data-toggle="dropdown">Project <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="../Project/CreateProject">Create Project</a></li>
                <div class="divider"></div>
                @foreach (var item in Model)
                {
                    <li><a href="../Project/DetailProject?idProject=@item.idProject">@item.projectName</a></li>
                }
            </ul>
        </li>
        <li style="padding: 0px 20px;">
            <a href="../Phase/CreatePhase">Phase </a>
        </li>

        <li style="padding: 0px 20px;">
            <a href="../Sprint/CreateSprint"> Sprint </a>
        </li>
        <li style="padding: 0px 20px;">
            <a href="../Task/CreateTask">Task</a>
        </li>
        <li class="dropdown" style="padding: 0px 20px;">
            <a data-toggle="dropdown">Chart <span class="caret"></span></a>
            <ul class="dropdown-menu">
                @foreach (var item in Model)
                {
                    <li><a href="../Project/DetailProject?idProject=@item.idProject">@item.projectName</a></li>
                }
            </ul>
        </li>
    </ul>
</div>
<!--Hết menu bên trái-->
<!--Menu bên phải-->
<div class="col-md-5" style="background-color: #205081; height: 40px">
    <!--Form tìm kiếm-->
    <div class="col-md-8 ">
        <span style="color: white; float: right; padding-top: 10px">@ViewBag.username</span>
    </div>
    <!--Hết form tìm kiếm-->

    <div class="col-md-4">
        <ul class="nav nav-pills righty">
            <li class="dropdown">
                <a data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="../Login/Login">Log Out</a></li>
                </ul>
            </li>
            <li class="dropdown" style="padding: 0px 5px;">
                <a data-toggle="dropdown"><span class="glyphicon glyphicon-cog"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="../User/CreateUser">Create User</a></li>
                    @*<li><a href="#">System config</a></li>*@
                </ul>
            </li>
        </ul>
    </div>
</div>
<!--finished right menu-->
<!--finished menu-->
