@using ProjectManage.Models;
@model Task
@{
    ViewBag.Title = "DetailTask";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div id="page-wrapper" style="padding-top: 55px;">
    <!-- /.row -->
    <div class="row">
        @*Vùng hiển thị Chi tiết công việc*@
        <div class="col-lg-8" style="padding:5px;">
            @Html.Action("DetailTaskPartial", "Project")
        </div>
        @*Kết thúc vùng hiển thị Chi tiết công việc*@


        @*Vùng hiển thị nội dung người tạo và thời gian*@
        <div class="col-lg-4" style="padding: 5px;">
            @Html.Action("MoreDetailTaskPartial", "Project")
        </div>
        @*Kết thúc vùng hiển thị nội dung người tạo và thời gian*@
    </div>
</div>