@using ProjectManage.Models;
@model List<User>

<div class="panel panel-default">
    <table class="table table-striped table-bordered table-hover dataTable no-footer">
        <thead>
            <tr>
                <th>User Name</th>
                <th>Position</th>
                <th>Joined Date</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var item in Model)
                {
                    <tr class="gradeA odd" role="row">
                        <td class="sorting_1">
                            <a href="#">@item.user_name</a>
                        </td>
                        <td class="sorting_1">
                            <span>@item.position</span>
                        </td>
                        <td class="sorting_1">
                            <span>join date</span>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
