<!--Phần thông tin chi tiết của dự án-->
@*<div class="panel panel-default">
    <div class="panel-body">
        <div class="well">
            <div class="col-md-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_content">
                        <div class="modal-header" style="padding:0px; text-align: left;"><label>People</label></div>
                        <table class="table" style="text-align: left; border: none;">
                            <tr>
                                <td style="border: none;">Assignee: </td>
                                <td style="border: none;">Nguyễn Thị Hiền</td>
                            </tr>
                            <tr>
                                <td style="border: none;">Reporter: </td>
                                <td style="border: none;">Nguyễn Thị Hảo</td>
                            </tr>
                        </table>
                    </div>

                    <div class="x_content">
                        <div class="modal-header" style="padding: 0px; text-align: left;"><label>Date</label></div>
                        <table class="table" style="text-align: left; border: none;">
                            <tr>
                                <td style="border: none;">Due: </td>
                                <td style="border: none;">01/03/2018</td>
                            </tr>
                            <tr>
                                <td style="border: none;">Created: </td>
                                <td style="border: none;">01/03/2018</td>
                            </tr>
                            <tr>
                                <td style="border: none;">Planed Start: </td>
                                <td style="border: none;">01/03/2018</td>
                            </tr>
                        </table>
                    </div>

                    <div class="x_content">
                        <div class="modal-header" style="padding: 0px; text-align: left;"><label>Time Tracking:</label></div>
                        <table class="table" style="text-align: left; border: none;">
                            <tr >
                                <td style="border: none; " width="30%">Estimated:</td>
                                <td style="border: none; padding-top: 7px;">
                                    <div class="progress">
                                        <div class="progress-bar" style="width: 60%;">
                                            <span class="sr-only">60% Complete</span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr style="padding: 0px;">
                                <td style="border: none;" width="30%">Estimated:</td>
                                <td style="border: none; padding-top: 7px;">
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-warning" style="width: 20%;">
                                            <span class="sr-only">20% Complete</span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr style="padding: 0px;">
                                <td style="border: none;" width="30%">Estimated:</td>
                                <td style="border: none; padding-top: 7px;">
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-success" style="width: 30%;">
                                            <span class="sr-only">30% Complete</span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@