
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="~/Content/HomeStyleSheet.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <title>Project Manage</title>
</head>
<body>
    <!--Vùng menu-->
    <div class="container">
        <div class="row">
            <hr />
            <!--Menu bên trái-->
            <div class="col-md-7" style="background-color: #205081">
                <ul class="nav nav-pills">
                    <li><a href=""><span class="glyphicon glyphicon-home"></span></a></li>
                    <li><a href="">Project <span class="caret"></span></a></li>
                    <li><a href="">Phase <span class="caret"></span></a></li>
                    <li><a href="">Task <span class="caret"></span></a></li>
                    <li><a href="">Timesheet <span class="caret"></span></a></li>
                    <li><a href="">Grantt Chart</a></li>
                    <li><a href="">Report <span class="caret"></span></a></li>
                </ul>
            </div>
            <!--Hết menu bên trái-->

            <!--Menu bên phải-->
            <div class="col-md-5" style="background-color: #205081; height: 40px">
                <!--Form tìm kiếm-->
                <div class="col-md-8 ">
                    <form action="" class="navbar-form navbar-right" method="post" style="margin-top: 3px;">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search...">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-info"><span class="glyphicon glyphicon-search"></span></button>
                        </div>
                    </form>
                </div>
                <!--Hết form tìm kiếm-->
                <div class="col-md-4">
                    <ul class="nav nav-pills righty">
                        <li class="dropdown">
                            <a data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="">Nguyễn Thị Hảo</a></li>
                                <div class="divider"></div>
                                <li><a href="#">Thông tin</a></li>
                                <li><a href="#">Đổi mật khẩu</a></li>
                                <div class="divider"></div>
                                <li><a href="#">Thoát</a></li>
                            </ul>
                        </li>
                        <li><a href="#"><span class="glyphicon glyphicon-cog"></span></a></li>
                    </ul>
                </div>
            </div>
            <!--Hết menu bên phải-->
</div>
        </div>

    

    <!--Kết thúc vùng menu-->

    <!--Vùng body-->
    <div>
        @RenderBody()
    </div>
    <!--Kết thúc vùng body-->

    <!--Vùng footer-->
    <footer class="col-md-12">
        <h5>Học viện kỹ thuật quân sự</h5>
        <p>Đồ án tốt nghiệp chuyên ngành công nghệ phần mềm khóa 12</p>
        <p>Sinh viên: Nguyễn Thị Hảo</p>
    </footer>
    <!--Kết thúc vùng footer-->
</body>
</html>
