
<!--Vùng menu-->
        <hr />
        <!--Menu bên trái-->
        <div class="col-md-7" style="background-color: #205081">
            <ul class="nav nav-pills">
                <li><a href=""><span class="glyphicon glyphicon-home"></span></a></li>

                <li class="dropdown">
                    <a href="" data-toggle="dropdown">Project <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="">Gần đây</a></li>
                        <div class="divider"></div>
                        <li><a href="#">Hiện tại</a></li>
                        <li><a href="#">Create</a></li>
                        <div class="divider"></div>
                        <li><a href="#">Abc xyz</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="" data-toggle="dropdown">Phase <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="">Gần đây</a></li>
                        <div class="divider"></div>
                        <li><a href="#">Hiện tại</a></li>
                        <li><a href="#">Create</a></li>
                        <div class="divider"></div>
                        <li><a href="#">Abc xyz</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="" data-toggle="dropdown">Task <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="">Gần đây</a></li>
                        <div class="divider"></div>
                        <li><a href="#">Hiện tại</a></li>
                        <li><a href="#">Create</a></li>
                        <div class="divider"></div>
                        <li><a href="#">Abc xyz</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="" data-toggle="dropdown">Timesheet <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="">Gần đây</a></li>
                        <div class="divider"></div>
                        <li><a href="#">Hiện tại</a></li>
                        <li><a href="#">Create</a></li>
                        <div class="divider"></div>
                        <li><a href="#">Abc xyz</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="" data-toggle="dropdown">Grantt Chart <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="">Gần đây</a></li>
                        <div class="divider"></div>
                        <li><a href="#">Hiện tại</a></li>
                        <li><a href="#">Create</a></li>
                        <div class="divider"></div>
                        <li><a href="#">Abc xyz</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="" data-toggle="dropdown">Report <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="">Gần đây</a></li>
                        <div class="divider"></div>
                        <li><a href="#">Hiện tại</a></li>
                        <li><a href="#">Create</a></li>
                        <div class="divider"></div>
                        <li><a href="#">Abc xyz</a></li>
                    </ul>
                </li>             
                <li style="padding: 3px 10px;"><button class="btn btn-primary">Create</button></li>
            </ul>
        </div>
        <!--Hết menu bên trái-->
        <!--Menu bên phải-->
        <div class="col-md-5" style="background-color: #205081; height: 40px">
            <!--Form tìm kiếm-->
            <div class="col-md-8 ">
                <form action="" class="navbar-form navbar-right" method="post" style="margin-top: 3px;">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search...">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-info"><span class="glyphicon glyphicon-search"></span></button>
                    </div>
                </form>
            </div>
            <!--Hết form tìm kiếm-->
            <div class="col-md-4">
                <ul class="nav nav-pills righty">
                    <li class="dropdown">
                        <a data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="">Nguyễn Thị Hảo</a></li>
                            <div class="divider"></div>
                            <li><a href="#">Thông tin</a></li>
                            <li><a href="#">Đổi mật khẩu</a></li>
                            <div class="divider"></div>
                            <li><a href="#">Thoát</a></li>
                        </ul>
                    </li>
                    <li><a href="#"><span class="glyphicon glyphicon-cog"></span></a></li>
                </ul>
            </div>
        </div>
        <!--finished right menu-->
<!--finished menu-->
